<!DOCTYPE html>
<html lang="en">

<body style="padding: 16px;">
  <button class="btn btn-primary" type="button" (click)="openDialog(false,false)">Add Employee</button>
    <div class="table-responsive" style="box-shadow: 0px 0px 9px;border-radius: 15px;">
        <table class="table">
            <thead class="thead-dark text-center" style="box-shadow: 0px 0px 6px;background-color: #212529;">
                <tr>
                    <th *ngFor="let head of heads" style="color: white;">{{head}}</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr *ngFor="let a of data; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{a.title}}</td>
                    <td>{{a.firstName}}</td>
                    <td>{{a.lastName}}</td>
                    <td>{{a.email}}</td>
                    <td>{{a.role}}</td>
                    <td><a (click)="openDialog(true,false,data[i],i)">Edit</a><a (click)="openDialog(false,true,data[i],i)"> | Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>
